@media screen and (min-width: 500px) and (max-width: 600px) {
    .main {
        zoom: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .main {
        zoom: 60%;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .main {
        zoom: 70%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .main {
        zoom: 80%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1029px) {
    .main {
        zoom: 90%;
    }
}

@media screen and (min-width: 1029px) and (max-width: 1285px) {
    .main {
        zoom: normal;
    }
}

@media screen and (min-width: 1285px) and (max-width: 1680px) {
    .main {
        zoom: 115%;
    }
}

@media screen and (min-width: 1680px) and (max-width: 7685px) {
    .main {
        zoom: 125%;
    }
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
    padding-top: 15px;
}

a:hover {
    opacity: 0.6;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;
}

.main {
    border: 3px solid whitesmoke;
    border-radius: 10px;
    margin: auto;
    width: 852px !important;
    height: max-content;
    backdrop-filter: blur(4px);
    position: relative;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.title {
    font-size: 22px;
    margin: 18px 18px 75px 25px;
    color: wheat;
}

/**/

.slider {
    width: 816px !important;
    height: 339px !important;
    margin: 18px;
    border-radius: 15px;
    overflow: hidden;
}

.seven {
    width: 5712px;
    display: flex;
    animation-name: slider;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 64s;
}

.seven div {
    min-width: 816px;
    height: 339px;
    display: flex;
    position: relative;
}

.imgmain {
    width: 640px;
    height: 339px;
    display: flex;
}

.vertiline {
    width: 5px;
    min-height: 329px;
    position: absolute;
    right: 5px;
    top: -12px;
    background-color: wheat;
    border-radius: 5px;
}

.box4 {
    background-color: brown;
}

.box5 {
    background-color: burlywood;
}

.box6 {
    background-color: chartreuse;
}

.box7 {
    background-color: darkmagenta;
}

@keyframes slider {
    0% {
        margin-left: 0;
    }

    13% {
        margin-left: 0;
    }

    15% {
        margin-left: -816px;
    }

    28% {
        margin-left: -816px;
    }

    30% {
        margin-left: -1632px;
    }

    43% {
        margin-left: -1632px;
    }

    45% {
        margin-left: -2448px;
    }

    58% {
        margin-left: -2448px;
    }

    60% {
        margin-left: -3264px;
    }

    73% {
        margin-left: -3264px;
    }

    75% {
        margin-left: -4080px;
    }

    88% {
        margin-left: -4080px;
    }

    90% {
        margin-left: -4896px;
    }

    99% {
        margin-left: -4896px;
    }

    100% {
        margin-left: 0px;
    }
}

#toggle:checked~.seven {
    animation-play-state: paused !important;
}

#toggle:checked~.button,
#toggle:checked~#button {
    animation-play-state: paused !important;
}

#toggle:checked~.labe img {
    display: none;
}

.hide {
    display: none;
}

#toggle:checked~.labe .hide {
    opacity: 1 !important;
    display: block !important;
}

.labe:hover {
    opacity: 0.6;
}

.button, #button {
    position: absolute;
    top: 379px;
    right: 139px;
    z-index: 1;
    animation-name: buttonhide;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 64s;
}

@keyframes buttonhide {
    0% {
        display: block;
    }

    12.99% {
        display: block;
    }

    13% {
        display: none;
    }

    14.99% {
        display: none;
    }

    15% {
        display: block;
    }

    27.99% {
        display: block;
    }

    28% {
        display: none;
    }

    29.99% {
        display: none;
    }

    30% {
        display: block;
    }

    42.99% {
        display: block;
    }

    43% {
        display: none;
    }

    44.99% {
        display: none;
    }

    45% {
        display: block;
    }

    57.99% {
        display: block;
    }

    58% {
        display: none;
    }

    59.99% {
        display: none;
    }

    60% {
        display: block;
    }

    72.99% {
        display: block;
    }

    73% {
        display: none;
    }

    74.99% {
        display: none;
    }

    75% {
        display: block;
    }

    87.99% {
        display: block;
    }

    88% {
        display: none;
    }

    89.99% {
        display: none;
    }

    90% {
        display: block;
    }

    98.99% {
        display: block;
    }

    99% {
        display: none;
    }

    99.99% {
        display: none;
    }

    100% {
        display: block;
    }
}

.specifica {
    margin: 15px;
    color: whitesmoke;
    font-size: 16px;
    font-weight: bold;
}