@media screen and (min-width: 1px) and (max-width: 600px) {
    .main {
        zoom: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .main {
        zoom: 60%;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .main {
        zoom: 70%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .main {
        zoom: 80%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1029px) {
    .main {
        zoom: 90%;
    }
}

@media screen and (min-width: 1029px) and (max-width: 1285px) {
    .main {
        zoom: normal;
    }
}

@media screen and (min-width: 1285px) and (max-width: 1680px) {
    .main {
        zoom: 115%;
    }
}

@media screen and (min-width: 1680px) and (max-width: 7685px) {
    .main {
        zoom: 125%;
    }
}

.darkmode {
    background-color: black;
    opacity: 0.7;
}

button {
    right: 10px;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid black;
    transition: 1s;
    background-color: whitesmoke;
    z-index: 3;
}

button:hover {
    opacity: 0.5 !important;
    cursor: pointer;
}

.inverted {
    filter: invert(1);
}

.themetoggle {
    bottom: 10px;
}

.favoritebutton {
    bottom: 60px;
    padding-top: 4px;
}

.buttonsbg {
    z-index: 2;
    position: fixed;
    right: 0px;
    bottom: 0px;
    backdrop-filter: blur(10px);
    height: 110px;
    width: 60px;
    border-top-left-radius: 20px;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
    padding-top: 15px;
    transition: 1s;
}

.main {
    border: 3px solid whitesmoke;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    width: 852px !important;
    height: auto;
    backdrop-filter: blur(4px);
    position: relative;
}

a {
    text-decoration: none;
    transition: 0.5s;
}

a:hover {
    transition: 0.5s;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    opacity: 0.6;
}

.title {
    font-size: 22px;
    margin-left: 15px;
    color: wheat;
    border-bottom: 3px solid wheat;
    padding-bottom: 25px;
    width: 690px;
}

.text {
    text-indent: 8px;
    color: whitesmoke;
    text-align: justify;
    margin-left: 15px;
    margin-right: 20px;
}

.horyline {
    background-color: wheat;
    min-width: 780px;
    margin-left: 20px;
    margin-right: 20px;
    height: 3px;
    border-radius: 3px;
    margin-top: 10px;
}

.flex {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    display: flex;
    position: relative;
}

.img {
    width: 500px;
    height: 281px;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
}

.specificalities {
    text-indent: 8px;
    color: whitesmoke;
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 280px;
}

.specificalities span {
    font-weight: bold;
}

.slider,
.sliderl {
    width: 500px;
    height: 281px;
    margin-right: 0px;
    margin-left: auto;
    border-radius: 8px;
    overflow: hidden;
}

#slider,
#sliderl {
    display: flex;
    width: 1000px;
    height: 281px;
    animation-name: slider;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 16s;
}

.sliderl {
    margin-right: auto !important;
    margin-left: 0px !important;
}

#sliderl {
    animation-delay: 4s;
}

.slider img,
.sliderl img {
    min-width: 500px;
    height: 281px;
}

@keyframes slider {
    0% {
        margin-left: 0px;
    }
    49% {
        margin-left: 0px;
    }
    50% {
        margin-left: -500px;
    }
    99% {
        margin-left: -500px;
    }
    100% {
        margin-left: 0px;
    }
}

.source {
    position: absolute;
    top: 250px;
    left: 240px;
}

.sourcetwo {
    position: absolute;
    top: 250px;
    left: 507px;
}

.source a,
.sourcetwo a {
    color: wheat;
    font-weight: bold;
    text-decoration: underline;
    transition: 0.5s;
}

.source a:hover,
.sourcetwo a:hover {
    opacity: 0.6;
    transition: 0.5s;
}

.pages {
    width: max-content;
    height: 46px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    position: relative;
}

.pages a,
.one {
    min-width: 40px;
    height: 40px;
    border: 3px solid whitesmoke;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.one {
    margin-top: 0px;
    cursor: auto;
    box-shadow: whitesmoke 0 0 10px;
    transition: 0.5s;
}

.blank {
    min-width: 40px;
    height: 40px;
    border: 3px solid rgba(245, 245, 245, 0);
    border-radius: 50px;
    margin: 0 10px 0 10px;
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default;
}

.two,
.three,
.four {
    opacity: 0.6;
    transition: 0.5s;
}

.two:hover,
.three:hover,
.four:hover {
    opacity: 1 !important;
    box-shadow: whitesmoke 0 0 10px !important;
    transition: 0.5s;
}

.copy-text {
    cursor: pointer;
    font-weight: 100 !important;
    text-decoration: underline;
}

.copy-text:hover {
    opacity: 0.6;
}

.toast {
    display: none;
    min-width: 120px;
    background-color: dimgray;
    color: whitesmoke;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    left: 46.25%;
    bottom: 30px;
    z-index: 1000;
}

.toast.show {
    display: block;
}

#themetoggle {
    z-index: 99;
}

.copy {
    margin-left: 15px;
    font-style: italic;
    color: wheat;
    font-size: 16px;
}