@media screen and (min-width: 1px) and (max-width: 600px) {
	.main {
		zoom: 45%;
	}
}

@media screen and (min-width: 600px) and (max-width: 700px) {
	.main {
		zoom: 60%;
	}
}

@media screen and (min-width: 700px) and (max-width: 800px) {
	.main {
		zoom: 70%;
	}
}

@media screen and (min-width: 800px) and (max-width: 900px) {
	.main {
		zoom: 80%;
	}
}

@media screen and (min-width: 900px) and (max-width: 1029px) {
	.main {
		zoom: 90%;
	}
}

@media screen and (min-width: 1029px) and (max-width: 1285px) {
	.main {
		zoom: normal;
	}
}

@media screen and (min-width: 1285px) and (max-width: 1680px) {
	.main {
		zoom: 115%;
	}
}

@media screen and (min-width: 1680px) and (max-width: 7685px) {
	.main {
		zoom: 125%;
	}
}

.darkmode {
	background-color: black;
	opacity: 0.7;
}

button {
	right: 10px;
	position: fixed;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	border: 2px solid black;
	transition: 1s;
	background-color: whitesmoke;
	z-index: 3;
}

button:hover {
	opacity: 0.5 !important;
	cursor: pointer;
}

.inverted {
	filter: invert(1);
}

.themetoggle {
	bottom: 10px;
}

.buttonsbg {
	z-index: 2;
	position: fixed;
	right: 0px;
	bottom: 0px;
	backdrop-filter: blur(10px);
	height: 60px;
	width: 60px;
	border-top-left-radius: 20px;
}

body::-webkit-scrollbar {
	width: 15px;
}

body::-webkit-scrollbar-track {
	background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
	background-color: wheat;
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
	background-color: rgba(245, 222, 179, 0.8);
	cursor: pointer;
}

body::-webkit-scrollbar-corner {
	background-color: rgb(78, 48, 103);
}

body{
	font-family: 'Comfortaa', cursive;
	padding-top: 15px;
	transition: 1s;
}

.main{
	border: 3px solid whitesmoke;
	border-radius: 10px;
	margin: auto;
	width: 852px !important;
	height: max-content;
	backdrop-filter: blur(4px);
	position: relative;
}

.sidebar {
	width: 138px !important;
	position: absolute;
	top: 3px;
	right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.fav {
	position: absolute;
	top: 78px;
	right: 5px;
	padding: 2px;
	color: wheat;
	font-size: 13px;
	text-decoration: none;
	text-align: right;
	max-width: min-content;
}

.fav:hover {
	opacity: 0.6;
}

a {
	text-decoration: none;
}

article {
	cursor: default;
}

.quote {
	margin-left: 20px;
	margin-right: 20px;
	background-color: rgba(245, 245, 245, 0.7);
	border-left: 5px solid wheat;
	border-radius: 5px;
	height: max-content;
}

.margn {
	padding-right: 18px;
	padding-left: 12px;
	font-weight: bolder;
	text-align: justify;
	line-height: 120%;
}

.flex {
	display: flex;
	margin: -10px 20px 20px 20px;
}

li {
	color: whitesmoke;
	font-size: 20px;
	line-height: 1.6;
}

.a {
	color: whitesmoke;
	transition: 0.5s;
}

.a:hover {
	opacity: 0.4;
	text-decoration: underline;
	transition: 0.5s;
}

.info {
	border-radius: 10px;
	position: absolute;
	bottom: 0px;
	right: 3px;
	transition: 0.5s;
}

.info:hover {
	opacity: 0.4;
	transition: 0.5s;
}

.Updates_required {
	position: absolute;
	top: 0px;
	left: 10px;
}

@media screen and (max-width: 1135px) {
	.Updates_required {
		width: 1px !important;
		height: 1px !important;
		overflow: hidden;
		opacity: 0;
	}
}

.sections {
	font-size: 21px;
	font-weight: bolder;
	color: wheat;
	margin-left: 20px;
}

.one {
	border-radius: 10px;
	width: 615px;
}

#slider {
	position: relative;
	margin-top: 4px;
	margin-left: 4px;
}

#slides article {
	float: left;
}

#slides .image {
	width: 700%;
	line-height: 0;
}

#overflow {
	overflow: hidden;
	width: 100%;
	border-radius: 10px;
}

article img {
	width: 100%;
}

#desktop:checked~#slider {
	width: 615px !important;
}

label,
a {
	cursor: pointer;
}

.all input {
	display: none;
}

#switch1:checked~#slides .image {
	margin-left: 0;
}

#switch2:checked~#slides .image {
	margin-left: -100%;
}

#switch3:checked~#slides .image {
	margin-left: -200%;
}

#switch4:checked~#slides .image {
	margin-left: -300%;
}

#switch5:checked~#slides .image {
	margin-left: -400%;
}

#switch6:checked~#slides .image {
	margin-left: -500%;
}

#switch7:checked~#slides .image {
	margin-left: -600%;
}

#controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 40px;
	transition: 0.3s;
	animation-name: hidee;
	animation-duration: 32s;
	animation-iteration-count: 1;
}

#active label {
	border-radius: 7px;
	display: inline-block;
	width: 13px;
	height: 13px;
	background: whitesmoke;
	transition: 0.3s;
	animation-name: hidee;
	animation-duration: 32s;
	animation-iteration-count: 1;
}

#active {
	margin: 15% 0 0;
	text-align: center;
}

#active label:hover {
	opacity: 0.6;
}

#switch1:checked~#active label:nth-child(1),
#switch2:checked~#active label:nth-child(2),
#switch3:checked~#active label:nth-child(3),
#switch4:checked~#active label:nth-child(4),
#switch5:checked~#active label:nth-child(5),
#switch6:checked~#active label:nth-child(6),
#switch7:checked~#active label:nth-child(7) {
	background: wheat;
}

#slides .image {
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover {
	opacity: 0.6;
}

.image {
	animation-name: slider;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 32s;
}

@keyframes slider {
	0% {
		margin-left: 0;
	}

	10% {
		margin-left: 0;
	}

	15% {
		margin-left: -100%;
	}

	25% {
		margin-left: -100%;
	}

	30% {
		margin-left: -200%;
	}

	40% {
		margin-left: -200%;
	}

	45% {
		margin-left: -300%;
	}

	55% {
		margin-left: -300%;
	}

	60% {
		margin-left: -400%;
	}

	70% {
		margin-left: -400%;
	}

	75% {
		margin-left: -500%;
	}

	85% {
		margin-left: -500%;
	}

	90% {
		margin-left: -600%;
	}

	99% {
		margin-left: -600%;
	}

	100% {
		margin-left: 0;
	}
}

@keyframes hidee {
	0% {
		opacity: 0;
		cursor: default;
	}

	94% {
		opacity: 0;
		cursor: default;
	}

	95% {
		opacity: 0.1;
		cursor: default;
	}

	100% {
		opacity: 1 !important;
		cursor: pointer;
	}
}

.b {
	color: whitesmoke;
	animation-name: shining;
	animation-duration: 3s;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	transition: 0.5s;
}

.b:hover {
	opacity: 0.4;
	text-decoration: underline;
	transition: 0.5s;
}

@keyframes shining {
	0% {
		text-shadow:  rgb(245, 222, 179, 1) 2px 0 10px;
	}

	100% {
		text-shadow: rgba(245, 222, 179, 0) 1px 0 10px;
	}
}

#themetoggle {
	z-index: 99;
}