@media screen and (min-width: 1px) and (max-width: 600px) {
    .main,
    .advert {
        zoom: 45%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .main,
    .advert {
        zoom: 60%;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .main,
    .advert {
        zoom: 70%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .main,
    .advert {
        zoom: 80%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1029px) {
    .main,
    .advert {
        zoom: 90%;
    }
}

@media screen and (min-width: 1029px) and (max-width: 1285px) {
    .main,
    .advert {
        zoom: normal;
    }
}

@media screen and (min-width: 1285px) and (max-width: 1680px) {
    .main,
    .advert {
        zoom: 115%;
    }
}

@media screen and (min-width: 1680px) and (max-width: 7685px) {
    .main,
    .advert {
        zoom: 125%;
    }
}

.darkmode {
    background-color: black;
    opacity: 0.7;
}

button {
    right: 10px;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid black;
    transition: 1s;
    background-color: whitesmoke;
    z-index: 3;
}

button:hover {
    opacity: 0.5 !important;
    cursor: pointer;
}

.inverted {
    filter: invert(1);
}

.themetoggle {
    bottom: 10px;
}

.favoritebutton {
    bottom: 60px;
    padding-top: 4px;
}

.buttonsbg {
    z-index: 2;
    position: fixed;
    right: 0px;
    bottom: 0px;
    backdrop-filter: blur(10px);
    height: 110px;
    width: 60px;
    border-top-left-radius: 20px;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
    transition: 1s;
}

a {
    transition: 0.5s;
}

a:hover {
    opacity: 0.6;
    transition: 0.5s;
}

li, a {
    color: whitesmoke;
    text-decoration: none;
}

label:hover {
    opacity: 0.6;
}

.main {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
    z-index: 1;
}

.sidebar{
    width: 138px !important;
	position: absolute;
	top: 3px;
	right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
    transition: 0.5s;
}

.content {
    width: 802px;
    margin-left: 20px;
}

.section_title{
    font-size: 22px;
    padding-left: 10px;
    padding: 5px;
    color: wheat;
    font-weight: bold;
}

.small_section_title,
.small_section_title a {
    font-size: 18px;
    margin-left: 15px;
    color: whitesmoke;
    font-weight: bolder;
    text-decoration: none;
    transition: 0.5s;
}

.small_section_title a:hover {
    text-decoration: underline;
    transition: 0.5s;
}

.more_specifically{
    text-indent: 8px;
    color: whitesmoke;
    text-align: justify;
    font-size: 16px;
}

.horyline {
    background-color: wheat;
    height: 3px;
    border-radius: 3px;
    margin-top: 20px;
}

.importan {
    color: red;
    font-weight: bold;
    font-size: 15px;
    text-indent: 8px;
}

.flex {
    display: flex;
    width: 802px;
}

.flex div {
    width: fit-content;
}

.a {
    color: whitesmoke;
    font-size: 23px;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
}

.a:hover {
    opacity: 0.6;
    text-decoration: underline;
}

.li {
    margin: 0 0 20px 0px;
    font-size: 25px;
}

.n {
    text-indent: 8px;
    font-size: 16px;
    color: whitesmoke;
    width: 675px;
    text-align: justify;
}

.for {
    color: wheat;
    font-size: 15px;
    text-indent: 18px;
    margin-top: -2px;
}

.important a {
    text-decoration: underline;
}

.press {
    font-size: 12px;
    padding-left: 5px;
    padding-bottom: 8px;
    margin-top: -20px;
    color: wheat;
}

#themetoggle {
    z-index: 99;
}