@media screen and (min-width: 1px) and (max-width: 600px) {
    .main {
        zoom: 50%;
    }
}

@media screen and (min-width: 600px) and (max-width: 700px) {
    .main {
        zoom: 60%;
    }
}

@media screen and (min-width: 700px) and (max-width: 800px) {
    .main {
        zoom: 70%;
    }
}

@media screen and (min-width: 800px) and (max-width: 900px) {
    .main {
        zoom: 80%;
    }
}

@media screen and (min-width: 900px) and (max-width: 1029px) {
    .main {
        zoom: 90%;
    }
}

@media screen and (min-width: 1029px) and (max-width: 1285px) {
    .main {
        zoom: normal;
    }
}

@media screen and (min-width: 1285px) and (max-width: 1680px) {
    .main {
        zoom: 115%;
    }
}

@media screen and (min-width: 1680px) and (max-width: 7685px) {
    .main {
        zoom: 125%;
    }
}

.darkmode {
    background-color: black;
    opacity: 0.7;
}

button  {
    right: 10px;
    position: fixed;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid black;
    transition: 1s;
    background-color: whitesmoke;
    z-index: 3;
}

button:hover {
    opacity: 0.5 !important;
    cursor: pointer;
}

.inverted {
    filter: invert(1);
}

.themetoggle {
    bottom: 10px;
}

.favoritebutton {
    bottom: 60px;
    padding-top: 4px;
}

.buttonsbg {
    z-index: 2;
    position: fixed;
    right: 0px;
    bottom: 0px;
    backdrop-filter: blur(10px);
    height: 160px;
    width: 60px;
    border-top-left-radius: 20px;
}

.backtoup {
    bottom: 110px;
    opacity: 0;
    visibility: hidden;
}

#backtoup.show {
    visibility: visible;
    opacity: 1;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(78, 48, 103);
}

body::-webkit-scrollbar-thumb {
    background-color: wheat;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(245, 222, 179, 0.8);
    cursor: pointer;
}

body::-webkit-scrollbar-corner {
    background-color: rgb(78, 48, 103);
}

body {
    font-family: 'Comfortaa', cursive;
    transition: 1s;
}

a {
    text-decoration: none;
    color: wheat;
    transition: 0.5s;
}

a:hover {
    opacity: 0.6;
    text-decoration: underline;
    transition: 0.5s;
}

.main {
    margin: auto;
    border: 3px solid whitesmoke;
    border-radius: 10px;
    width: 852px !important;
    backdrop-filter: blur(4px);
    position: relative;
    z-index: 1;
}

.sidebar {
    width: 138px !important;
    position: absolute;
    top: 3px;
    right: 3px;
}

.logo {
    position: absolute;
    top: 4px;
    right: 4px;
    background-color: black;
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.back {
    position: absolute;
    top: 78px;
    right: 5px;
    padding-top: 5px;
    padding: 2px;
    border-radius: 3px;
    color: wheat;
    font-size: 13px;
    text-decoration: none;
}

.back:hover {
    outline: 2px solid wheat;

}

.content {
    width: 808px;
    margin-left: 20px;
}

.tit {
    font-size: 22px;
    color: wheat;
    font-weight: bold;
    padding-left: 10px;
}

.section_title {
    font-size: 18px;
    padding-left: 10px;
    color: wheat;
}

.more_specifically {
    text-indent: 8px;
    text-align: justify;
    color: whitesmoke;
    font-size: 16px;
}

.more_specifically img {
    width: 808px;
    border-radius: 8px;
}

.modlink {
    text-align: center;
    width: 802px;
}

.modlink img {
    width: 16px !important;
    border-radius: 2px !important;
    margin-bottom: -1px;
}

.g{
    color: black;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}

.text,
.textt {
    max-height: 0;
    overflow: hidden;
}

#toggle:checked~.text,
#togglet:checked~.textt {
    max-height: min-content;
}

#toggle:checked~.what
#togglet:checked~.whatt {
    opacity: 0.6;
}

label:hover {
    opacity: 0.6;
}

.what,
.whatt {
    font-size: 16px;
    color: whitesmoke;
    font-weight: bold;
    padding-left: 10px;
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
}

.text {
    color: whitesmoke;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    margin: 0 25px 0 25px;
    display: flex;
    width: 760px;
}

.textt {
    text-indent: 6px;
    color: whitesmoke;
    font-size: 15px;
    font-weight: 500;
    text-align: justify;
    margin: 0 15px 0 15px;
    width: 780px;
}

.text ul {
    padding-left: 15px;
    text-align: left;
    margin-left: 0px;
    line-height: 175%;
}

.text a {
    color: whitesmoke;
}

.smal {
    font-size: 16px;
}

.horyline {
    background-color: wheat;
    min-width: 780px;
    margin-left: 5px;
    margin-right: 5px;
    height: 3px;
    border-radius: 3px;
}

.shoryline {
    background-color: wheat;
    width: 680px;
    margin-left: 5px;
    height: 3px;
    border-radius: 3px;
}

.rel {
    position: relative;
    width: 400px;
}

.margn {
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgba(245, 245, 245, 0.7);
    color: black;
    border-radius: 5px;
    height: max-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    font-weight: bolder;
    text-align: justify;
}

.mred {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
    height: max-content;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    padding-right: 12px;
    font-weight: bolder;
}